<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title" th:text="'Edit review #' + ${review.id}"></title>
	
	
	<section th:fragment="content">	
		<div class="container">
			<div class="row my-5">	
			    <form
			    	th:replace="
			    			~{
			    				/review/_form
			    				
			    				::
			    				
			    				form('Edit review #' + ${review.id},
			    					@{/reviews/{id}(id=${review.id}, backToShow=${backToShow})},
			    					'patch',
			    					@{/reviews{urlCompletion}(urlCompletion=${urlCompletion})}
			    				)
			    			}
			    		"
			    >
			    </form>
		    </div>
		</div>
	</section>
	
</html>
