<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title" th:text="'Edit color #' + ${color.id}"></title>
	
	
	<section th:fragment="content">
	    <div class="container">
			<div class="row my-5">
				<form
			    	th:replace="
			    			~{
			    				/color/_form
			    				::
			    				form(
			    					'Edit color #' + ${color.id},
			    					@{/colors/{id}(id=${color.id}, backToShow=${backToShow})},
			    					'patch',
			    					@{/colors{urlCompletion}(urlCompletion=${urlCompletion})}
			    				)
			    			}
			    		">
			    </form>
			</div>
		</div>
	
	</section>
	
</html>
