<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title">List of all the products patterns</title>
	
	
	<section th:fragment="content">
		<div class="container my-5">
			<h3 class="my-margin-bottom-28 text-center">
				<em>List of  products patterns</em>
			</h3>

			<a href="products-patterns/new" class="btn btn-sm btn-success my-margin-bottom-19">
			<span class="my-margin-right-19">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</span>

				<span>Create a new product pattern</span>
			</a>


			<div id="my-notice" class="my-no-line-height">
	        <span class="my-margin-right-19">
				<i aria-hidden="true"></i>
			</span>

				<span></span>
			</div>


			<table class="table table-bordered text-center">
				<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Product</th>
					<th scope="col">Pattern</th>
					<th scope="col">Prices</th>
					<th scope="col">Actions</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="productPattern : ${productsPatterns}" th:attr="data-product-pattern-id=${productPattern.id}">

					<td scope="row" th:text="${productPattern.id}"></td>
					<td th:text="${productPattern.product.name}"></td>
					<td th:text="${productPattern.pattern.label}"></td>
					<td>
						<div class="d-inline-block">
							<a th:href="@{/prices?productsPatternId={id}(id=${productPattern.id})}" class="btn btn-sm btn-info">
								<i class="fas fa-angle-double-right" aria-hidden="true"></i>
								<span class="my-margin-left-19">
									<i>Products patterns</i>
								</span>
							</a>
						</div>
					</td>
					<td>
						<!-- Show product gender -->
						<a
								th:href="@{/products-patterns/{id}(id=${productPattern.id})}"
								class="btn btn-sm btn-light"
								data-toggle="tooltip"
								title="Show product pattern"
								data-placement="bottom"
						>
							<i class="far fa-eye" aria-hidden="true"></i>
						</a>
						<!-- Edit product gender -->
						<a
								th:href="@{/products-patterns/{id}/edit(id=${productPattern.id})}"
								class="btn btn-sm btn-primary my-product-pattern-to-edit"
								data-toggle="tooltip"
								title="Edit product pattern"
								data-placement="bottom"
						>
							<i class="far fa-edit" aria-hidden="true"></i>
						</a>
						<!-- Delete product gender -->
						<button
								type="button"
								class="btn btn-sm btn-danger my-product-pattern-to-delete"
								th:value="${productPattern.id}"
								data-toggle="tooltip"
								title="Delete product pattern"
								data-placement="bottom"
						>
							<i class="far fa-trash-alt" aria-hidden="true"></i>
						</button>
					</td>
				</tr>

				</tbody>
			</table>
		</div>
	</section>
	
</html>