<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title" th:text="'Product pattern #' + ${productsPattern.id}"></title>
	
	
	<section th:fragment="content">
		<div class="container my-5">
			<h3 class="my-margin-bottom-28 text-center">
				<em th:text="'Product pattern #' + ${productsPattern.id}"></em>
			</h3>
			
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<table class="table table-bordered text-center">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Field</th>
								<th scope="col">Value</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td scope="row">Id</td>
								<td th:text="${productsPattern.id}"></td>
							</tr>
							
							<tr>
								<td scope="row">Product</td>
								<td th:text="${productsPattern.product.name}"></td>
							</tr>
							
							<tr>
								<td scope="row">Pattern</td>
								<td th:text="${productsPattern.pattern.label}"></td>
							</tr>
						</tbody>
						
					</table>
					
					<div class="my-margin-top-19">
					    <a th:href="@{/products-patterns}" class="btn btn-sm btn-secondary mr-2">
							<span>
								<i class="far fa-arrow-alt-circle-left" aria-hidden="true"></i>
							</span>
							
					    	<span>Back to the list of products patterns</span>
					    </a>
				
				
					    <a
			                th:href="@{/products-patterns/{id}/edit(id=${productsPattern.id}, backToShow=true)}"
					    	class="btn btn-sm btn-primary"
					    >
							<span>
								<i class="far fa-edit" aria-hidden="true"></i>
							</span>
							
					    	<span>Edit product pattern #<span th:text="${productsPattern.id}"></span></span>
					    </a>
					    
					</div>
				</div>
			</div>			
		</div>
	</section>
	
</html>