<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title" th:text="'Edit body part #' + ${bodyPart.id}"></title>
	
	
	<section th:fragment="content">
	    <div class="container">
			<div class="row my-5">
				<form
			    	th:replace="
			    			~{
			    				/body-part/_form
			    				::
			    				form(
			    					'Edit body part #' + ${bodyPart.id},
			    					@{/body-parts/{id}(id=${bodyPart.id}, backToShow=${backToShow})},
			    					'patch',
			    					@{/body-parts{urlCompletion}(urlCompletion=${urlCompletion})}
			    				)
			    			}
			    		">
			    </form>
			</div>
		</div>
	
	</section>
	
</html>
