<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title" th:text="'Edit collar #' + ${collar.id}"></title>
	
	
	<section th:fragment="content">
	    <div class="container">
			<div class="row my-5">
				<form
			    	th:replace="
			    			~{
			    				/collar/_form
			    				::
			    				form(
			    					'Edit collar #' + ${collar.id},
			    					@{/collars/{id}(id=${collar.id}, backToShow=${backToShow})},
			    					'patch',
			    					@{/collars{urlCompletion}(urlCompletion=${urlCompletion})}
			    				)
			    			}
			    		">
			    </form>
			</div>
		</div>
	
	</section>
	
</html>
