<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title">List of all the collars</title>
	
	
	<section th:fragment="content">
		<div class="container my-5">
			<h3 class="my-margin-bottom-28 text-center">
				<em th:if="${collar == null}">List of all collars</em>

				<em th:unless="${collar == null}">
					Collars of <b th:text="${collar.label}"></b>
				</em>
			</h3>

			<a href="collars/new" class="btn btn-sm btn-success my-margin-bottom-19">
			<span class="my-margin-right-19">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</span>

				<span>Create a new collars</span>
			</a>


			<div id="my-notice" class="my-no-line-height">
	        <span class="my-margin-right-19">
				<i aria-hidden="true"></i>
			</span>

				<span></span>
			</div>


			<table class="table table-bordered text-center">
				<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Label</th>
					<th scope="col">Actions</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="collar : ${collars}" th:attr="data-collar-id=${collar.id}">

					<td scope="row" th:text="${collar.id}"></td>
					<td th:text="${collar.label}"></td>
					<td>
						<a
								th:href="@{/collars/{id}(id=${collar.id})}"
								class="btn btn-sm btn-light"
								data-toggle="tooltip"
								title="Show collar"
								data-placement="bottom"
						>
							<i class="far fa-eye" aria-hidden="true"></i>
						</a>
						
						<a
								th:href="@{/collars/{id}/edit(id=${collar.id})}"
								class="btn btn-sm btn-primary my-collar-to-edit"
								data-toggle="tooltip"
								title="Edit collar"
								data-placement="bottom"
						>
							<i class="far fa-edit" aria-hidden="true"></i>
						</a>
						
						<button
								type="button"
								class="btn btn-sm btn-danger my-collar-to-delete"
								th:value="${collar.id}"
								data-toggle="tooltip"
								title="Delete collar"
								data-placement="bottom"
						>
							<i class="far fa-trash-alt" aria-hidden="true"></i>
						</button>
					</td>
				</tr>

				</tbody>
			</table>
		</div>
	</section>
	
</html>