<html xmlns:th="http://www.thymeleaf.org">
	
	<title th:fragment="title">List of all the patterns</title>
	
	
	<section th:fragment="content">
		<div class="container my-5">
			<h3 class="my-margin-bottom-28 text-center">
				<em>List of all patterns</em>
			</h3>

			<a href="patterns/new" class="btn btn-sm btn-success my-margin-bottom-19">
				<span class="my-margin-right-19">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</span>
				<span>Create a new patterns</span>
			</a>


			<div id="my-notice" class="my-no-line-height">
				<span class="my-margin-right-19">
					<i aria-hidden="true"></i>
				</span>
				<span></span>
			</div>


			<table class="table table-bordered text-center">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Label</th>
						<th scope="col">Products Patterns</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pattern : ${patterns}" th:attr="data-pattern-id=${pattern.id}">
						<td scope="row" th:text="${pattern.id}"></td>
						<td>
							<div th:text="${pattern.label}" class="my-margin-bottom-4 d-inline-block" ></div>

						</td>
						<td>
							<div class="d-inline-block">
								<a th:href="@{/products-patterns?patternId={id}(id=${pattern.id})}" class="btn btn-sm btn-info">
									<i class="fas fa-angle-double-right" aria-hidden="true"></i>
									<span class="my-margin-left-19">
										<i>Products Patterns</i>
									</span>
								</a>
							</div>
						</td>
						<td>
							<!-- Show title -->
							<a
									th:href="@{/patterns/{id}(id=${pattern.id})}"
									class="btn btn-sm btn-light"
									data-toggle="tooltip"
									title="Show pattern"
									data-placement="bottom"
							>
								<i class="far fa-eye" aria-hidden="true"></i>
							</a>


							<!-- Edit title -->
							<a
									th:href="@{/patterns/{id}/edit(id=${pattern.id})}"
									class="btn btn-sm btn-primary my-pattern-to-edit"
									data-toggle="tooltip"
									title="Edit pattern"
									data-placement="bottom"
							>
								<i class="far fa-edit" aria-hidden="true"></i>
							</a>

							<!-- Delete title -->
							<button
									type="button"
									class="btn btn-sm btn-danger my-pattern-to-delete"
									th:value="${pattern.id}"
									data-toggle="tooltip"
									title="Delete pattern"
									data-placement="bottom"
							>
								<i class="far fa-trash-alt" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	
</html>